/* General */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
  background:#070707;
  font-family: 'Poppins', sans-serif;
}

[class*="col-"],
.row,
.container-fluid{
  padding: 0;
  margin:0;
}

.h-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Navbar */
#navbar{
  display: flex;
  align-items:center;
  text-align: center; 
  margin-bottom: 5%;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

#search-btn{
  background:#ff0080 ;
  color: #fff;
  width:50%;
}

#search-btn:hover{
  background:#ff0080 ;
  color: rgb(245, 171, 171);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;  
}

#search-bar{
  padding: 5%;
}

@media only screen and (max-width: 600px) {
  #search-bar{
    padding: 6%;
    margin-bottom: 4%;
  }
}

/*Logo*/
video, 
img {
  width:100%;
}

/* Gifs */
.video-box{height: 40vh}

.video-box > video{object-fit: fill}

@media only screen and (max-width: 600px) {
  .video-box{height:auto}
}