*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


video{
  width: 100%;
}

.h-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-bar{
  display: block;
  width:100%;
}

.navbar{
  display: flex;
  align-items:center;
}

/* Gifs */

.gif{
  height: 15vh;  
}

#gif-container{
  display: flex;
  flex-wrap: wrap;
}


